:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: grid;
}

.cnt {
  display: grid;
  place-items: center;
  padding-inline: 4rem;
  padding-block: 3rem;
}

.container-1 {
  background-color: var(--very-pale-cyan);
}

.sub-container {
  display: flex;
  flex-direction: column;
  max-width: 64rem;
  padding-block: 3rem;
}

.sub-container-1 {
  display: grid;
  gap: 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav img {
    height: 80%;
}

.container-1-main {
  display: flex;
  gap: 2rem;
}

.container-1-body {
  padding-block-start: 4rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.context {
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  padding-inline-end: 2rem;
}

.illustration img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.btn {
  width: max-content;
  padding-block: 1rem;
  padding-inline: 3rem;
  border: none;
  border-radius: 50px;
  color: hsl(0, 100%, 100%);
  background-color: var(--pink);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 1px 10px 0 hsla(0, 0%, 0%, 0.15);
}

.btn:hover {
  background-color: hsl(322, 100%, 75%);
  cursor: pointer;
}

.nav-btn {
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 100%, 100%);
  width: max-content;
  padding-block: 1rem;
  padding-inline: 3rem;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 1px 10px 0 hsla(0, 0%, 0%, 0.15);
  transition: all 0.2s ease-in-out;
}

button:active {
  transform: scale(0.95);
}

.nav-btn:hover {
  cursor: pointer;
}

.flow {
  display: flex;
  gap: 2rem;
}

.container-2 {
  position: relative;
  padding-block-end: 12rem;
}

.sub-container-2 {
  box-shadow: 0px 1px 10px 0 hsla(0, 0%, 0%, 0.15);
  padding-block-start: 5rem;
  padding-block-end: 5rem;
  padding-inline-start: 4rem;
  padding-inline-end: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.flow-heading {
  font-family: "Poppins", sans-serif;
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 2.5rem;
  padding-inline-end: 2rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block-start: 3rem;
}

.flow-body {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding-block-start: 3rem;
}

.flow-illustration img {
  min-width: 10rem;
  width: 90%;
  height: auto;
  object-fit: cover;
}

.absolute {
  text-align: center;
  background-color: hsl(0, 100%, 100%);
  padding-block: 2.5rem;
  padding-inline: 4rem;
  display: grid;
  place-items: center;
  gap: 0.5rem;
  bottom: -5rem;
  position: absolute;
  box-shadow: 0px 1px 10px 0 hsla(0, 0%, 0%, 0.15);
  border-radius: 0.5rem;
}

.absolute-heading {
  font-family: "Poppins", sans-serif;
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.footer {
  display: grid;
  place-items: center;
  color: hsl(0, 100%, 100%);
  background-color: var(--very-dark-cyan);
  padding-block-start: 8rem;
  padding-block-end: 3rem;
  font-size: 0.9rem;
}

.footer-container {
  width: 100%;
  padding-inline: 7.5%;
}

.footer-main {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.block-1,
.block-2,
.block-3 {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.location,
.phone-number,
.email {
  display: flex;
  gap: 1.25rem;
  max-width: 24rem;
}

.location img {
  align-self: flex-start;
  object-fit: contain;
}

a {
  color: hsl(0, 100%, 100%);
  text-decoration: none;
}

.socials {
  display: flex;
  gap: 1.25rem;
}

.--fa-primary-color:hover {
  cursor: pointer;
  color: var(--pink);
}

.block-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blocks {
    display: grid;
  }

.footer-logo img {
  width: 12rem;
  height: auto;
  padding-block-end: 2rem;
}
@media screen and (max-width: 62rem) {
  .container-1-main {
    display: flex;
    flex-direction: column;
  }

  .nav {
    margin-inline: -2rem;
    align-items: center;
  }
  .nav img {
    height: 60%;
  }

  .nav-btn {
    padding-block: 0.35rem;
    padding-inline: 2rem;
  }

  .container-1-body {
    text-align: center;
    width: 100%;
  }

  .container-1-body .btn {
    align-self: center;
    width: 80%;
  }

  .cnt {
    padding-inline: 10%;
    padding-block: 0rem;
  }

  .flow {
    text-align: center;
  }

  .flow-1,
  .flow-3 {
    flex-direction: column-reverse;
  }

  .flow-2 {
    flex-direction: column;
  }

  .absolute {
    position: absolute;
    bottom: -5rem;
    width: 85%;
    padding-inline: 0rem;
  }

  .absolute .btn {
    width: 70%;
  }

  .container-2 {
    padding-block-end: 12rem;
  }

  .footer-main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 1.25rem;
  }

  .block-3 {
    margin-block-start: -3rem;
  }

  .block-4 {
    justify-content: center;
    margin-block-start: 2rem;
    display: grid;
    gap: 3rem;
  }

  .socials {
    justify-self: center;
  }
}
